.navbar{
    background-color: #c6d6ff;
    box-sizing: border-box;
}

.nav-item{
  /* text-decoration: none; */
  font-size: larger;
  margin-right: 80px;
  padding-bottom: 10px;
}

.footer_logo{
    width: 200px;
    height: 200px;
    align-items: start;
}

.footer_text{
    font-size: x-large;
}