body {
    font-family: Arial, sans-serif;
    background-color: #00274D;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url('Home2.jpg');
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.search-bar {
    margin: 40px 0;
}
.search-bar input {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.search-bar button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
h1 {
    font-size: 28px;
    color: blanchedalmond;
}
.faq-section {
    margin-top: 40px;
}
.faq-section h2 {
    color: blanchedalmond;
    font-size: 24px;
    margin-bottom: 20px;
}
.faq-item {
    background-color: #fff;
    color: #00274D;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faq-item:hover {
    background-color: navy;
    color: #00274D;
}
.faq-item h3 {
    margin: 0;
}
.faq-item .icon {
    font-size: 20px;
    cursor: pointer;
}