* {
    font-family: "Poppins", sans-serif !important;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.navbar{
    background-color: #7e91c0;
    box-sizing: border-box;
}

.nav-item{
  font-size: larger;
  margin-right: 80px;
  padding-bottom: 10px;
  color: white;
}