* {
    font-family: "Poppins", sans-serif !important;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.navbar{
    background-color: #7e91c0;
    box-sizing: border-box;
}

.navbar-item{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-link{
  font-size: larger;
  margin-right: 70px;
  align-items: center;
  color: white;
}

.loginbutton{
  color: white;
  background-color: #cdb0de;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 40px;
  margin-top: 8px;
  font-size: larger;
}